/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	/*-----------header starts-----------*/
	.header-bg {
		min-height: 80px;
	}
	
	.logo {
		left: 75%;
	}
	
	.logo a {
		width: 100px;
		height: 100px;
		background-size: 100px 100px;
	}

	.menu-items li {
		width: 50%;
        font-size: 20px;
		padding: 0 0px !important;
		text-align: left;
	}
	
	.navbar-toggler:hover, .navbar-toggler:focus {
		outline: none;
	}

	.mr-10 {
		margin-right: 0;
	}
	.ml-10 {
		margin-left: 0;
	}
    /*------------header ends-------------*/
    
    /*------------slider starts-----------*/
    .banner {
        width: 65%;
        padding: 30px 0 20px 0;
    }

    .banner img {
        padding: 0px 20px;
    }

    .ribbon {
        width: 90%;
    }

    .slider {
        margin: 35px 0;
    }

    .slider h3 {
        font-size: 24px;
    }
    
    .slider-prev, .slider-next {
        width: 25px;
        height: 50px;
        font-size: 24px;
    }
    /*------------slider ends-----------*/

	/*------------about starts-----------*/
	.section-title h2 {
		font-size: 70px;
	}

    .about-title h2 {
        font-size: 60px;
    }

    .hello h2{
        font-size: 30px;
    }

    .hello h3{
        font-size: 22px;
    }

    .single-item .item-details {
        font-size: 14px;
    }
	/*------------about ends-----------*/
	
	.filter {
		margin: 10px;
	}

	.blog-details h3 {
		margin-top: 20px;
		font-size: 22px;
	}

	.blog-details h4 {
		font-size: 10px;
	}

	.blog-details span a {
		font-size: 10px;
	}

	.blog-details p{
		font-size: 14px;
	}

	.nav-link {
		font-size: 12px;
	}
	
	.points {
		padding-left: 5px;
		font-size: 14px;
	}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	/*------------header starts-------------*/
	.header-bg {
		min-height: 130px;
	}

	.menu-items li {
		width: 50%;
        font-size: 20px;
		padding: 0 0px !important;
		text-align: left;
	}
	.mr-10 {
		margin-right: 0;
	}
	.ml-10 {
		margin-left: 0;
	}

	.blog-details h3 {
		margin-top: 20px;
		font-size: 22px;
	}
	/*------------header ends-------------*/
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	/*------------header starts-------------*/
	.header-bg {
		min-height: 130px;
	}

	.menu-items li {
		width: 25%;
        font-size: 22px;
	}
	.mr-10 {
		margin-right: 15%;
	}
	.ml-10 {
		margin-left: 15%;
	}
	/*------------header ends-------------*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}